<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="gameId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Game ID </th>
    <td mat-cell *matCellDef="let game"> {{game.gameId}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let game"> {{game.name}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
    <td mat-cell *matCellDef="let game"> {{game.genre}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
    <td mat-cell *matCellDef="let game"> {{game.releaseDate | date: format: fullDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" (click)="goToReviews(row.gameId)"></tr>
</table>
